CLIENT_ID="CLIENT_ID_VALUE"
CLIENT_SECRET="CLIENT_SECRET_VALUE"
REFRESH_TOKEN="REFRESH_TOKEN_VALUE"
DEVELOPER_TOKEN="DEVELOPER_TOKEN_VALUE"
CLIENT_CUSTOMER_ID="CLIENT_CUSTOMER_ID_VALUE"
USER_AGENT="USER_AGENT_VALUE"
API_PREFIX="/api"